.profile-picture {
  width: 45px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user-username {
  margin: 10px 10px;
}

.user-name {
  flex-grow: 2;
  margin: 0;
  text-align: left;
  padding: 5px 0 0 3px;
}

.tweet-header {
  display: flex;
  height: 50px;
  background-color: #EEEEEE;
  border-radius: 7px 7px 0 0;
  opacity: .65;
}

.logged-tweet {
  margin: 10px 2em 0;
  border-radius: 7px;
  border: solid;
  border-color: #CECECE;
  border-width: 1px;
}

.user-tweet-body {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.tweet-footer {
  text-align: left;
  border-top: 1px solid #CECECE;
  padding: 5px 0 5px 5px;
}


.logged-tweet:hover .tweet-header {
  opacity: 1;
}

.logged-tweet:hover {
  border-color: #3d3d3d;
}
