nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  top: 0;
  z-index: 999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  padding-left: 10px;
  float: left;
  font-size: 200%;
  line-height: 80px;
}

.new-tweet-button {
  float: right;
  width: 125px;
  margin-top: 10px;
  height: 60px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #E6FDFF;
  color: #029F86;
}
