.new-tweet {
  background-color: #EEEEEE;
  margin: 0 2em;
  border: solid;
  border-radius: 7px;
  border-color: #CECECE;
  border-width: 2px;
}

h2.new-tweet-title {
  text-align: left;
    padding: 8px 0;
    margin: 0px 10px;
    border-bottom: solid;
    border-width: 1px;
}

textarea[name="text"] {
  display: block;
  margin: 15px auto 4.5px;
  width: 95%;
  padding: 6px;
}

input[value="Tweet"] {
  display: inline;
  margin: 0 255px 10px 0;
  padding-right: 7px;
  border-right-width: 1px;
}
